.magrathea-tool.vogsphere {
    --golden-ratio: 1.618;
    --line-height: 1.5;

    /* spacers */
    --space-m: calc(var(--line-height) * 1em);
    --space-s: calc(var(--space-m) / var(--golden-ratio));
    --space-l: calc(var(--space-m) * var(--golden-ratio));

    /* comfortable reading width */
    --measure: 60ch; /* https://en.wikipedia.org/wiki/Line_length */

    margin-right: auto;
    margin-left: auto;
    max-width: var(--measure);
}

.magrathea-tool.vogsphere *
, .magrathea-tool.vogsphere *::before
, .magrathea-tool.vogsphere *::after {
    box-sizing: border-box;
    /* line-height: 1.5; */
    margin: 0;
    padding: 0;
}

.magrathea-tool.vogsphere * + * {
    margin-top: var(--space-m);
}

.magrathea-tool.vogsphere button {
    border: 1px outset;
    display: block;
    font: inherit;
    margin-right: auto;
    margin-left: auto;
    padding: 0.25em;
}

.magrathea-tool.vogsphere fieldset {
    border: none;
}

.magrathea-tool.vogsphere input
, .magrathea-tool.vogsphere select {
    margin-top: 0;
}

.magrathea-tool.vogsphere li {
    margin-left: var(--space-l);
}

.magrathea-tool.vogsphere li:not(:first-child)
, .magrathea-tool.vogsphere fieldset ul
, .magrathea-tool.vogsphere .__help {
    margin-top: var(--space-s);
}

.magrathea-tool.vogsphere ul.--list-style-none {
    list-style-type: none;
}

.magrathea-tool.vogsphere pre {
    border: 1px solid;
    overflow: auto;
    padding: 0.5em;
}

.magrathea-tool.vogsphere .__field-set
, .magrathea-tool.vogsphere fieldset {
    display: grid;
    grid-template-columns: 1fr minmax(20ch, 2fr);
    margin-left: var(--space-m);
}

.magrathea-tool.vogsphere .__field-set > .__help
, .magrathea-tool.vogsphere .__field-set > textarea {
    grid-column: 1 / -1;
}

/* TRASH FROM HERE ON OUT */

/* global */

/* elements */
/* .magrathea-tool.vogsphere label {
    margin-right: var(--space-m);
}

.magrathea-tool.vogsphere li {
    margin-top: var(--space-s);
}

.magrathea-tool.vogsphere ul.--list-style-none {
    list-style-type: none;
} */

/* layouts */

/* legos */
/* .magrathea-tool.vogsphere .__field-container > * + * {
    margin-top: var(--space-s);
}

.magrathea-tool.vogsphere section > ul > li {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(20ch, 1fr);
}

.magrathea-tool.vogsphere section > ul > li > label {
    justify-self: end;
}

.magrathea-tool.vogsphere section > ul > li > input {
    grid-column: 2;
}

.magrathea-tool.vogsphere section > ul > li > :nth-child(n + 3) {
    grid-column: 1 / -1;
} */
